[COMMON]
# The system definition
system = CYBER-IATOMS

# The systemName definition
systemName = iatoms

# The locale for which a resource bundle is desired 
locale = en_US

# The resource boundle list
resource.boundle.1 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_common_messages
resource.boundle.2 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms
resource.boundle.3 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_field
resource.boundle.4 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_messages
resource.boundle.5 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_msg_information

# The temporal folder setting is for http upload
temp.dir = /temp
session.timeout.redirecturl = /logout.do?action=timeout
#
service.application.context = cyber-iatoms-application-context.xml

# The security policy. 
# The password file stores all servers or interfaces's id/password.
# If this property is empty, it means the id/password would be used in its specific module item setting.
#passwordFile = /cafe_example.pwd
workLogFromDay = 21
workLogEndDay = 20
expireDay = 3
###########MAIL SENDER#########
[MAIL]
#host =192.168.93.251
#fromMail =echomou@cybersoft4u.com
host =smtp.126.com
fromMail =chen68573397@126.com
adminId=chen68573397@126.com
adminPassword=rtfk7UTzvaCsG978
###########FILE SENDER#########
[FILE_PATH]
#臨時目錄
FILE_TEMP_PATH = c:\\IATOMS\\TEMP
#上傳目錄
UPLOAD_PATH = c:\\IATOMS\\UPLOAD_PATH
#案件工單範本目錄
CASE_TEMPLATES_PATH = c:\\IATOMS\\CASE_TEMPLATES
#批次處理目錄
BATCH_FLAG_PATH = c:\\IATOMS\\BATCH_FLAG
#TMS DATA PATH
FILE_TRANSFER_PATH = c:\\iAtomsFTP

###########CYBER_AUTHENTICATION#########
[CYBER_AUTHENTICATION]
ACCOUNT = +iWLAhs5xbregJpn5iloOImzR+U2O3HSw+fME3pLdyM=
PASSWORD = J23FG69cBhrvi/1uhD14noWpw/E/YYl+wjdnsBnPw10=

###########SETTING#########
[SETTING]
#匯入上傳文件大小限制(單位:KB,此處1000KB = 1MB,5000表示5MB)
UPLOAD_FILE_SIZE = 5000

###########LDAP_AUTH#########
[LDAP_AUTH]

#域驗證域服務器URL
ldapUrl = ldap://192.168.92.30:389

#域驗證安全證明
ldapSecurity = simple

#域驗證代理帳號
ldapSecurityPrincipal = @cybersoft4u.com.tw

#域驗證用戶級別
ldapLevel = user

#域驗證網域名
domainName = DC=cybersoft4u,DC=com,DC=tw

###########DATABASE#########
[MMS_DATABASE]
url=jdbc:mysql://192.168.93.68:3307/mms?useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true
#url=jdbc:mysql://192.168.3.10:3306/mms?useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true
user=cl7IBrG/bce0J+1OKem+AwgDlklQKsRivwIrnDHnFRY=
pwd=cl7IBrG/bce0J+1OKem+AwgDlklQKsRivwIrnDHnFRY=

# dev
#url=jdbc:mysql://192.168.93.68:3307/mms_dev?useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true
#user=sV2JyhhODeKGJnvyAdOEbqJoLSkwppSCWEFPlR6asCY=
#pwd=sV2JyhhODeKGJnvyAdOEbqJoLSkwppSCWEFPlR6asCY=

[CMS_IP_FLAG]
ip = 60.251.92.71
###########ATOMS_FTPS#########
[ATOMS_FTPS]
name=qhhj93h+rFhs5b99ZaELlxyivPKDdUGMgG3c2P0APzk=
pwd=TysbcvYX+lYphhbwj97T4dkof9gsZ9RxaDplnegGAxY=
#name=amada
#pwd=1qa2ws#
ip=192.168.93.88
port=990
ftpsPath=new