[COMMON]
# The system definition
system = CYBER-IATOMS

# The systemName definition
systemName = iatoms

# The locale for which a resource bundle is desired 
locale = en_US

# The resource boundle list
resource.boundle.1 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_common_messages
resource.boundle.2 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms
resource.boundle.3 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_field
resource.boundle.4 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_messages
resource.boundle.5 = com.cybersoft4u.xian.iatoms.messages.cyber_iatoms_msg_information

###########DATABASE#########
[MMS_DATABASE]
url=jdbc:mysql://[IP]:3307/mms?useUnicode=true&characterEncoding=UTF-8&useOldAliasMetadataBehavior=true
user=cl7IBrG/bce0J+1OKem+AwgDlklQKsRivwIrnDHnFRY=
pwd=cl7IBrG/bce0J+1OKem+AwgDlklQKsRivwIrnDHnFRY=
